<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>

        <!-- Queeremos tener visibilidad a los navegadores de nuestra máquina desde esta app -->
        <!-- Declarar que quieres hacer consultas a aplicaciones de navegador -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:host="http" />
        </intent>
        <!--
        <package android:name="com.android.chrome" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="com.opera.browser" />
        -->
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppXCNT">
        <activity
            android:name=".subactividades.ColorSubActivity"
            android:exported="false" />
        <activity
            android:name=".subactividades.FormularioModernoActivity"
            android:exported="false" />
        <activity
            android:name=".perros.PerroActivity"
            android:exported="false" />
        <activity
            android:name=".InflarActivity"
            android:exported="false" />
        <activity
            android:name=".productos.ListaProductosActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cntg.xunta.gal"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusquedaActivity"
            android:exported="false" />
        <activity
            android:name=".SpinnerVisibilityActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:theme="@style/Theme.AppXCNTAppBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdivinaActivity"
            android:exported="false"
            android:label="Juego Adivina"
            android:theme="@style/Theme.AppXCNTAppBar" />
        <activity
            android:name=".ResultadoImcActivity"
            android:exported="false" />
        <!--
 en esta actividad, defino otro tema distinto al
        resto de las actividades de la aplicación
        -->
        <activity
            android:name=".ImcActivity"
            android:exported="true"
            android:label="Calcula IMC"
            android:theme="@style/Theme.AppXCNTAppBar">

            <!-- <intent-filter> -->


            <!--
                estos dos atributos el action y el category indican a Android
                que mi app arranca por esta pantalla

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            -->

        </activity>
        <activity
            android:name=".SumaActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>